<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cheukoin-tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Cheukoin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CheukoinTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>197B23251A12512200E3DD3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197B233A1A12512200E3DD3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197B234B1A1251AC00E3DD3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19A57CD019E2989E00FE40DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19F5852B19EBC77C00C2DC44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
